<aside id="sidebar_main">
    
    <div class="sidebar_main_header">
        <div class="sidebar_logo">
            <a href="index.html" class="sSidebar_hide"><img src="/altair/assets/img/logo_main.png" alt="" height="15" width="71"/></a>
            <a href="index.html" class="sSidebar_show"><img src="/altair/assets/img/logo_main_small.png" alt="" height="32" width="32"/></a>
        </div>
        <div class="sidebar_actions">
            <select id="lang_switcher" name="lang_switcher">
                <option value="gb" selected>English</option>
            </select>
        </div>
    </div>
    
    <div class="menu_section">
        <ul>
            <li>
                <a href="#">
                    <span class="menu_icon"><i class="material-icons">&#xE8D2;</i></span>
                    <span class="menu_title">Заявки</span>
                </a>
                <ul>
                    <li><a href="/administrators/post_categories">Заказы</a></li>
                    <li><a href="/administrators/posts">Запрос звонка</a></li>
                    <li><a href="/administrators/posts">Заявки с формы</a></li>
                    <li><a href="/administrators/posts">Вопросы по товарам</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span class="menu_icon"><i class="material-icons">&#xE8D2;</i></span>
                    <span class="menu_title">Товары</span>
                </a>
                <ul>
                    <li><a href="/administrators/product_categories">Категории товаров</a></li>
                    <li><a href="/administrators/products">Товары</a></li>
                    
                </ul>
            </li>
            <li>
                <a href="#">
                    <span class="menu_icon"><i class="material-icons">&#xE8D2;</i></span>
                    <span class="menu_title">Записи</span>
                </a>
                <ul>
                    <li><a href="/administrators/post_categories">Категории записей</a></li>
                    <li><a href="/administrators/posts">Записи</a></li>
                    <li><a href="/administrators/posts">Страницы</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span class="menu_icon"><i class="material-icons">&#xE8D2;</i></span>
                    <span class="menu_title">Слайдеры</span>
                </a>
                <ul>
                    <li><a href="/administrators/post_categories">Слайдеры</a></li>
                    <li><a href="/administrators/posts">Слайды</a></li>
                    <li><a href="/administrators/posts">Баннеры</a></li>
                    <li><a href="/administrators/site_variables">Блоки информации</a></li>
                </ul>
            </li>

             <li>
                <a href="#">
                    <span class="menu_icon"><i class="material-icons">&#xE8D2;</i></span>
                    <span class="menu_title">Навигация</span>
                </a>
                <ul>
                    <li><a href="/administrators/post_categories">Меню</a></li>
                </ul>
            </li>

      
            
        </ul>
    </div>
</aside>