<!-- Footer -->
<footer id="footer">
     <div class="container">
                <div class="col-sm-12">
                    <ul class="footer-menu-list">
                    <% @footer_menu_items.each do |item| %>
                        <li><%= link_to item.title, item.url %></li>
                    <% end %>
                    </ul>
                </div>
            </div>
        </div> 
</footer>