<!DOCTYPE HTML>
<html>
  <head>
    <%# stylesheet_link_tag 'site', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <ul>
      <li><a href="/products/1">Категория Товара</li>
      <li><a href="/products/1">Товар</li>
      <li><a href="/products/1">Категория записи</li>
      <li><a href="/products/1">Запись</li>
      <li><a href="/products/1">Статичная страница</li>
    </ul>
    <hr/>
    <%= yield %>
  </body>
</html>